<!DOCTYPE html>
<html lang="en">
<head>
  <title>Enter Code</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FoodHub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Food Journal</a></li>
      <li><a href="#">Stores Near You</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Enter a new food item</a></li>
    </ul>
  </div>
</nav>
<form method="post">
<label for="code"> Enter code below</label> <div></div>
<input type="text" name="code" id="code"><div> </div>
<input type="submit" name="code_button" value="Enter">
</form>
</body>
</html>
