{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}


<style>
    body { background-image: url("../../static/images/green-background.png"); }
</style>

{% block navbar %}
{% endblock %}

{% block flash %}
{% endblock %}

<div>
    <div class="row">
    <div class="col-md-12" style="overflow-y: hidden;">

        <div class="col-md-8">
            <div class="align-items-center" id="welcome-msg">
                <div class="container">
                    <h2 class="welcome-header">Welcome to a healthier you.</h2>
                    <p class="welcome-body">We have everything you need to get your diet in control,
                    from meal journals to personalised diet plans.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4" id="form-input">
            <div class="center-block">
                <div class="text-center auth-brand">
                    <img src="../../static/images/healthhub-logo.png" id="SN-Logo" width="100" height="95">
                    <h1><b>FoodHub.SG</b></h1>
                </div>

                <form method="post">
                <div class="row">
                    <div class="col-md-8 offset-md-2">

                        <div class="row form-group">
                            <h4>Sign into your account</h4>
                        </div>

                        <div class="row form-group">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" required>
                        </div>

                        <div class="row form-group">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                        </div>

                        <div class="flash-div">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="row form-group">
                                    <div class="col-md-12 row-flash">
                                        <div class="flash {{ category }}"><div> {{ message }} </div></div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                        </div>

                        <div class="row form-group">
                            <div class="form-group" id="login-button">
                                <input type="submit" value="Log In" class="btn btn-primary" style="width:135px; background-color: #4CAF50; border: lightgreen; border-radius: 0;">
                            </div>
                        </div>

{#                        <div class="row form-group">#}
{#                            <p id="new-acc"><a href="{{ url_for('auth.change_password') }}">Reset Password</a></p>#}
{#                        </div>#}

                        <div class="row form-group">
                            <p id="new-acc"><a href="{{ url_for('auth.register') }}">Create a new account</a></p>
                        </div>

                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
