{% extends 'base.html' %}

{% block title %}Food Journal{% endblock %}

{% block content %}

    <header id="summary-header">
        <h1>Your name: <b> {{ name }} </b> </h1>
        <h1>Your weight: <b> {{ weight }} kg </b> </h1>
        <h1>Your height: <b> {{ height }} m </b> </h1>
        <h1>Your BMI: <b> {{ bmi }} </b> </h1>
    </header>

    <header>
    <h1>Food History</h1>
    <a class="action" href="{{ url_for('food.add_food') }}">New</a>
    </header>

    {% for date in food_dates %}

        {% set example_food = date[0] %}
        {% set example_date = example_food['created'].strftime('%d %B (%A)') %}
        <h2> {{ example_date }} </h2>

        {% for food in date %}
            <article class="food-journal">
                <header>
                    <div id="food-subsection">
                        <div id="time-created"> {{ food['created'].strftime('%I:%M %p') }} </div>
                        <h3>{{ food['food_name'] }}</h3>
                        <div class="about"> <b> {{ food['calories'] }} calories </b> <br> Code: <b> {{ food['food_code'] }} </b> </div>
                    </div>
                </header>
            </article>
        {% if not loop.last %}
        {% endif %}
        {% endfor %}

        <h5>Total calories consumed: <b> {{ calories_list[loop.index - 1] }} kcal </b> </h5>

        <hr>

    {% if not loop.last %}
    {% endif %}
    {% endfor %}

{% endblock %}
