{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

    <header id="summary-header">
    <h1>Summary of your stats</h1>
    </header>

    <header>
    <h1>Food History</h1>
    <a class="action" href="{{ url_for('food.add_food') }}">New</a>
    </header>

    {% for date in food_dates %}

        {% set example_food = date[0] %}
        {% set example_date = example_food['created'].strftime('%d %B (%A)') %}
        <h2> {{ example_date }} </h2>

        {% for food in date %}
            <article class="food-journal">
                <header>
                    <div id="food-subsection">
                        <div id="time-created"> {{ food['created'].strftime('%I:%M %p') }} </div>
                        <h3>{{ food['food_name'] }}</h3>
                        <div class="about"> {{ food['calories'] }} calories <br> Code: {{ food['food_code'] }} </div>
                    </div>
                </header>
            </article>
        {% if not loop.last %}
        {% endif %}
        {% endfor %}

        <h5>Total calories consumed: {{ calories_list[loop.index - 1] }}</h5>

        <hr>

    {% if not loop.last %}
    {% endif %}
    {% endfor %}

{% endblock %}
