<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div id="left">
<h1> Welcome to a healthier you </h1>
<p> We have everything that you need to get your diet in control from meal journals to personalized diet plans </p>
</div>
<div id="right">
    <form method="post">
Username <input type="text"> <div></div>
Password <input type="password"> <div></div>
<button onclick = 'login()'> Login </button>
</form>
</body>
    <script>
        function login() {
            var username = document.querySelector('input[type="text"]').value;
            var password = document.querySelector('input[type="password"]').value;
            console.log(username + "" + password)
            windows
        }

    </script>
</div>
</body>
</html>
