{% from BMI_calculator import Calculator %}
<!DOCTYPE html>
<style>
input {
    border: 10px aquamarine;
    border-radius: 10px;
    padding: 10px;
}
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> {{ user }}</h1>
<h1> {{ BMI }} </h1>
<input type="submit" name="meal_button" value="Log Your Meal"> <div></div>
<button type="button" onclick="window.location.href='/settings'"> </button>

    {% BMI = request.form('name') %}
    {% user = Calculator() %}
    {% user.enter_details() %}

</body>
</html>
